<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../css/style.css" />

    <title>Board Example</title>
  </head>
  <body>
    <main id="signup-result-main" th:object="${member}">
      <h1>회원가입 결과</h1>
      <h2 th:if="${param.status}" th:text="'저장 완료'">저장 상태</h2>
      <div>
        <label for="username">회원 아이디</label>
        <input
          type="text"
          id="username"
          name="username"
          th:value="*{username}"
          readonly
        />
      </div>

      <div>
        <label for="password">비밀번호</label>
        <input
          type="text"
          id="password"
          name="password"
          th:value="*{password}"
          readonly
        />
      </div>

      <div>
        <label for="email">이메일</label>
        <input
          type="text"
          id="email"
          name="email"
          th:value="*{email}"
          readonly
        />
      </div>

      <div>
        <button type="button">회원 정보 수정</button>
        <button type="button" onclick="location.href='../index.html'">
          메인으로
        </button>
      </div>
    </main>
  </body>
</html>
